backports.tarfile==1.2.0
fastapi==0.115.6
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
gpt-engineer==0.3.1
importlib-metadata==8.0.0
jaraco.collections==5.1.0
llama-cpp-python==0.3.6
pip-chill==1.0.3
pydantic-settings==2.7.1
sse-starlette==2.2.1
starlette-context==0.3.6
tomli==2.0.1
uvicorn==0.34.0
